* {
      box-sizing: border-box;
}
<<<<<<< HEAD
p{
      color: aqua;
      font-size: 2rem;
}

div {
      height: 200px;
      width: 200px;
      background: blue;
}

ul {
      background: cadetblue;
      color: white;
      height: 500px;
      width: 100%;
=======

h2.blueHeader{
      color:blue;
>>>>>>> fd7469f59cbb8de34007439e5ac61547877d05fe
}