* {
      box-sizing: border-box;
}
p{
      color: aqua;
      font-size: 2rem;
}

div {
      height: 200px;
      width: 200px;
      background: blue;
}

ul {
      background: cadetblue;
      color: white;
      height: 500px;
      width: 100%;
}